TranslatorBankSOAP/Web References/BankSOAPService/BankService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GetIntrestRate">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="creditScore" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="months" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="ammount" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetIntrestRateResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetIntrestRateResult" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetIntrestRateSoapIn">
    <wsdl:part name="parameters" element="tns:GetIntrestRate" />
  </wsdl:message>
  <wsdl:message name="GetIntrestRateSoapOut">
    <wsdl:part name="parameters" element="tns:GetIntrestRateResponse" />
  </wsdl:message>
  <wsdl:portType name="BankServiceSoap">
    <wsdl:operation name="GetIntrestRate">
      <wsdl:input message="tns:GetIntrestRateSoapIn" />
      <wsdl:output message="tns:GetIntrestRateSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BankServiceSoap" type="tns:BankServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetIntrestRate">
      <soap:operation soapAction="http://tempuri.org/GetIntrestRate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BankServiceSoap12" type="tns:BankServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetIntrestRate">
      <soap12:operation soapAction="http://tempuri.org/GetIntrestRate" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="BankService">
    <wsdl:port name="BankServiceSoap" binding="tns:BankServiceSoap">
      <soap:address location="http://localhost:50728/BankService.asmx" />
    </wsdl:port>
    <wsdl:port name="BankServiceSoap12" binding="tns:BankServiceSoap12">
      <soap12:address location="http://localhost:50728/BankService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>